@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-color: #1F1F1F;
    --font-gray: rgba(255, 255, 255, 0.5);
    --aqua-glow: rgb(0, 213, 255);
    --low-transparency: rgba(255, 255, 255, 0.05);
    --white: rgba(255, 255, 255, 1);
    --low-white: rgba(255, 255, 255, 0.6);
    --font-black: rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: var(--background-color);
    width: 100vw;
    overflow-x: hidden;
}

.navbar {
    line-height: 4rem;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
    top: 0;
    left: 40%;
    position: absolute;
    z-index: 99;
}

.navbar > ul {
    display: flex;
    list-style: none;
    gap: 4vw;
    align-items: center;
}

.navbar > ul > li {
    height: 3rem;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: var(--font-gray);
    cursor: pointer;
}

.navbar > ul > li > a:hover, .navbar > ul > li > a:focus {
    color: var(--low-white);
}

.navbar > ul > .active {
    border-bottom: 1px solid var(--aqua-glow);
}

.navbar > ul > .active > a {
    color: var(--low-white);
}

.glow {
    width: 50vw;
    height: 50vw;
    background-color: var(--aqua-glow);
    z-index: 10;
    position: absolute;
    top: -50vw;
    left: -50vw;
    box-shadow: 0vw 0vw 100vw var(--aqua-glow);
}

.logo {
    width: 8vw;
    position: absolute;
    top: 1vw;
    left: 3vw;
}

#resume > button {
    padding: 0.8vw 1.5vw;
    background-color: var(--low-transparency);
    border: 1px solid var(--aqua-glow);
    box-shadow: 0 0 3px var(--aqua-glow);
    outline: none;
    border-radius: 5px;
    color: var(--white);
    position: absolute;
    top: 2vw;
    right: 3vw;
    cursor: pointer;
}

#resume > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px var(--aqua-glow);
}

main {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: relative;
    margin-top: 3rem;
}

main > .imageContainer {
    position: relative;
}

main > .imageContainer > .star {
    font-size: 45vw;
    position: absolute;
    top: 0;
    left: -10vw;
    background: linear-gradient(to right, aqua, 
                    rgb(0, 132, 255), #8423cf, #44eeeb); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

main > .imageContainer > .title {
    position: absolute;
    top: 15vw;
    left: -6vw;
    font-size: 5.5vw;
    z-index: 1;
    font-weight: 400;
    color: var(--white);
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}

main > .imageContainer > .mainImg {
    position: absolute;
    top: 8vw;
    left: 12vw;
    width: 15vw;
    z-index: 5;
}

main > .mainInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    top: 12vw;
    left: 60%;
    gap: 2vw;
}

main > .mainInfo > .title {
    color: var(--aqua-glow);
    font-weight: 400;
    font-size: 2.5vw;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: "Jersey 10", sans-serif;
}

main > .mainInfo > ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1.5vw;
    color: var(--font-gray);
    font-weight: 100;
    font-size: 1vw;
}

main > .mainInfo > #connect {
    width: 40%;
    padding: 1vw 1.5vw;
    color: var(--white);
    background: linear-gradient(to right, rgba(47, 178, 193, 0.8), 
    rgba(0, 132, 255, 0.8)); 
    box-shadow: 0 0 3px var(--aqua-glow);
    border: none;
    outline: none;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
}

main > .mainInfo > #connect:hover, 
main > .mainInfo > #connect:focus {
    background: linear-gradient(to right, rgba(47, 178, 193, 1), 
    rgba(0, 132, 255, 1)); 
    box-shadow: 0 0 5px var(--aqua-glow);
}

.about {
    width: 100vw;
    /* background: linear-gradient(to bottom, rgb(62, 147, 227),#5acdcb);  */
    /* background-color: rgb(24, 21, 21); */
    background: linear-gradient(109.6deg, rgb(24, 31, 40) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    position: absolute;
    top: 43vw;
    z-index: 10;
    box-shadow: 0 0 15px var(--font-black);
    border-top-left-radius: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    margin-top: -1.5rem;
}

.about > .about-left {
    margin-top: 2vw;
    width: 50%;
    padding: 2vw 0;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    gap: 1rem;
    color: var(--font-gray);
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
}

.about > .about-left > h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 3vw;
    letter-spacing: 0.2vw;
    color: var(--aqua-glow);
}

.about > .about-left .imp {
    font-weight: 450;
    font-size: 1.2vw;
}

.about > .about-left > .customTags {
    color: var(--aqua-glow);
    font-size: 2vw;
    font-family: "Jersey 10", sans-serif;
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.about > .about-left > .customTags > span {
    font-size: 2vw;
}

.about > .about-left > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    list-style: none;
    font-weight: 450;
}

.about > .about-left > ul > li {
    display: flex;
    gap: 0.3vw;
    align-items: center;
}

.about > .about-left > ul > li > span {
    font-size: 0.8vw;
}

.about > .about-right {
    padding: 2vw 1vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}

.about > .about-right > .imageContainer2 {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.about > .about-right > .imageContainer2 > .image {
    width: 8vw;
    filter: drop-shadow(0 0 4px var(--font-gray));
}

.about > .about-right > .imageContainer2 > .title {
    font-size: 1.5vw;
    color: var(--font-gray);
    font-weight: 450;
}

.about > .about-right > .mail {
    color: var(--font-gray);
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.about > .about-right > .mail > .title {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 1vw;
    font-weight: 400;
}

.about > .about-right > .mail > .info {
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.about > .about-right > .mail > .info > a {
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--aqua-glow);
}

.about > .about-right > .mail > .info > span {
    color: var(--aqua-glow);
    font-size: 1.8vw;
}

.about > .aboutLogo {
    position: absolute;
    top: 0;
    right: 5vw;
    width: 35vw;
    filter: drop-shadow(0 0 3px var(--font-gray));
}

@media screen and (width < 1250px) and (width > 450px) {
    .about {
        top: 44vw;
    }
}

@media screen and (width < 450px) {
    main > .imageContainer {
        top: 30vh;
    }
    main > .imageContainer > .star {
        font-size: 43vh;
        top: 8vh;
        left: -7vh;
    }
    main > .imageContainer > .mainImg {
        width: 19vh;
        top: 7vh;
        left: 14vh;
    }
    main > .imageContainer > .title {
        top: 23vh;
        font-size: 5.5vh;
        left: -5vh;
    }
    main > .mainInfo {
        position: absolute;
        top: 4vh;
        left: 0%;
        transform: translate(-15%, 0);
        width: 80vw;
        gap: 4vw;
        max-height: 40vh;
        padding: 1vh;
        overflow: hidden;
    }
    main > .mainInfo > .title {
        font-size: 7vw;
    }
    main > .mainInfo > #connect {
        padding: 3vw 4vw;
        font-size: 3vw;
        align-self: center;
        margin-top: 1.5vh;
        border-radius: 0.2vh;
    }
    main > .mainInfo > ul {
        font-size: 2.5vw;
        letter-spacing: 0.1vw;
    }
    .about {
        top: 80vh;
        padding-bottom: 18vh;
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
    }
    .about > .about-left {
        width: 100vw;
        padding: 6vw;
        padding-top: 8vw;
        padding-right: 10vw;
        font-size: 2.5vw;
        letter-spacing: 0.1vw;
    }
    .about > .about-left .imp {
        font-size: 3vw;
    }
    .about > .about-left > ul > li > span {
        font-size: 2vw;
    }
    .about > .aboutLogo {
        top: 3vw;
    }
    .about > .about-left > h1 {
        font-size: 10vw;
    }
    .about > .about-left > .customTags {
        font-size: 4vw;
        gap: 2vw;
    }
    .about > .about-left > .customTags > span {
        font-size: 4vw;
    }
    .about > .about-right {
        width: 60vw;
        align-self: center;
    }
    .about > .about-right > .imageContainer2  {
        gap: 4vw;
    }
    .about > .about-right > .imageContainer2 > .image {
        width: 40%;
    }
    .about > .about-right > .imageContainer2 > .title {
        font-size: 3vw;
    }
    .about > .about-right > .mail > .title {
        font-size: 2.5vw;
    }
    .about > .about-right > .mail > .info {
        gap: 1.5vw;
        align-items: center;
    }
    .about > .about-right > .mail > .info > span {
        font-size: 3.5vw;
    }
    .about > .about-right > .mail > .info > a {
        font-size: 4vw;
    }
    .logo {
        width: 20vw;
        position: absolute;
        top: 5vw;
        left: 5vw;
    }
    .navbar {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        top: 85vh;
        padding: 1vw 2vw;
        background-color: var(--font-black);
        align-self: center;
        width: 70vw;
        z-index: 99;
        line-height: 3rem;
        border-radius: 1vw;
    }
    .navbar > ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #resume > button {
        top: 7vw;
        margin-right: 3vw;
        font-size: 2vw;
        padding: 1.5vw 2.5vw;
    }
}